---
import '../styles/global.css';

const pageTitle = "About Me";
import BaseLayout from '../layouts/BaseLayout.astro';
const identity = {
  firstName: "Joshua",
  country: "Novi, Michigan",
  occupation: "highschool student",
  hobbies: [
    "Photography",
    "Fountain Pens",
    "Coding",
    "Soccer",
    "Weightlifting",
  ],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Java"];

---
<BaseLayout pageTitle={pageTitle}>

    <h2>... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country}</li>
      <li>I am a {identity.occupation}</li>
      <li>My hobbies are:</li>
      <ul>
        {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
      </ul>
      <li>
        <p>My skills are:</p>
        <ul>
          {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
      </li>
      <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
      </p>
    </ul>
</BaseLayout>
